# Ignore node_modules directory
node_modules/

# Ignore npm debug log
npm-debug.log

# Ignore IDE specific files
.idea/
.vscode/

# Ignore OS specific files
.DS_Store
Thư mục tạo ra bởi hệ thống mạng như __MACOSX/
